Repository polylang/polylang, pull requests merged in 2020-04, with the labels that each got.

#483 Override a selectmenu style
  modules/wizard/css/wizard.css
  modules/wizard/css/wizard.min.css
Labels: bug, wizard

#484 Forbid adding a language twice by clicking Continue button
  modules/wizard/js/languages-step.js
  modules/wizard/js/languages-step.min.js
Labels: bug, wizard

#485 Avoid notice by using a variable in reset function instead of a function
  modules/wizard/wizard.php
Labels: bug, wizard

#486 Disable submit button on languages step when submiting form
  modules/wizard/css/wizard.css
  modules/wizard/css/wizard.min.css
  modules/wizard/js/languages-step.js
  modules/wizard/js/languages-step.min.js
Labels: wizard

#488 Correct design and clean up wizard css
  modules/wizard/css/wizard.css
  modules/wizard/css/wizard.min.css
Labels: bug, wizard

#492 Fix PHP warning in wpml-config.xml
  modules/wpml/wpml-config.php
  tests/phpunit/data/wpml-config.xml
  tests/phpunit/tests/test-wpml-config.php
Labels: WPML API, bug

#494 Accept objects in options managed in wpml-config.xml
  modules/wpml/wpml-config.php
  tests/phpunit/tests/test-wpml-config.php
Labels: WPML API, bug

#499 Fix wizard title font to sans-serif
  modules/wizard/css/wizard.css
  modules/wizard/css/wizard.min.css
Labels: bug

#497 Fix a fatal error with InfiniteWP
  admin/admin.php
Labels: Pro, compatibility
