Repository polylang/polylang, pull requests merged in 2020-10, with the labels that each got.

#584 Fix current language possibly assigned when editing untranslatable objects
  admin/admin-base.php
  tests/phpunit/tests/test-admin-filters-term.php
Labels: bug

#583 Yoast SEO: Fix indexables
  integrations/wpseo/wpseo.php
Labels: Yoast seo

#578 Merge instead of overriding locales for translations updates
  admin/admin-filters.php
Labels: bug

#587 Improve how WP functions are checked
  tests/phpunit/includes/bootstrap.php
  tests/phpunit/includes/check-wp-functions-trait.php
  tests/phpunit/tests/test-copied-functions.php
Labels: phpunit tests

#577 Delay load_plugin_textdomain after plugin initialization
  admin/admin-base.php
Labels: enhancement

#588 VIPWPCS 2.2
  admin/admin-classic-editor.php
  admin/admin-filters-columns.php
  admin/admin-filters-term.php
  composer.json
  composer.lock
  frontend/frontend-filters.php
  frontend/frontend-static-pages.php
  include/class-polylang.php
  include/filters-sanitization.php
  include/olt-manager.php
  include/walker-dropdown.php
  include/walker-list.php
  include/widget-languages.php
  integrations/integrations.php
  integrations/jetpack/jetpack.php
  modules/wpml/wpml-api.php
  modules/wpml/wpml-legacy-api.php
  phpcs.xml.dist
  settings/settings-module.php
  settings/settings.php
  settings/table-settings.php
Labels: coding standards

#596 Optimize canonical redirect tests
  tests/phpunit/tests/test-canonical.php
Labels: phpunit tests

#592 Fix tests for canonical redirect
  tests/phpunit/includes/testcase-canonical.php
  tests/phpunit/tests/test-canonical.php
Labels: bug, phpunit tests

#595 Use WP_TestCase_Factory passed as parameter
  tests/phpunit/includes/testcase-domain.php
  tests/phpunit/includes/testcase-trait.php
  tests/phpunit/tests/plugins/test-duplicate-post.php
  tests/phpunit/tests/plugins/test-jetpack.php
  tests/phpunit/tests/test-admin-filters-post.php
  tests/phpunit/tests/test-admin-filters-term.php
  tests/phpunit/tests/test-admin-filters.php
  tests/phpunit/tests/test-admin-model.php
  tests/phpunit/tests/test-admin-static-pages.php
  tests/phpunit/tests/test-admin.php
  tests/phpunit/tests/test-ajax-columns.php
  tests/phpunit/tests/test-ajax-filters-post.php
  tests/phpunit/tests/test-ajax-filters-term.php
  tests/phpunit/tests/test-ajax-on-front.php
  tests/phpunit/tests/test-auto-translate.php
  tests/phpunit/tests/test-canonical.php
  tests/phpunit/tests/test-choose-lang-content.php
  tests/phpunit/tests/test-choose-lang-domain.php
  tests/phpunit/tests/test-choose-lang.php
  tests/phpunit/tests/test-columns.php
  tests/phpunit/tests/test-filters-links.php
  tests/phpunit/tests/test-filters.php
  tests/phpunit/tests/test-flags.php
  tests/phpunit/tests/test-hreflang.php
  tests/phpunit/tests/test-links-default.php
  tests/phpunit/tests/test-links-directory.php
  tests/phpunit/tests/test-media.php
  tests/phpunit/tests/test-model.php
  tests/phpunit/tests/test-nav-menus.php
  tests/phpunit/tests/test-query.php
  tests/phpunit/tests/test-search-form.php
  tests/phpunit/tests/test-settings.php
  tests/phpunit/tests/test-sitemaps.php
  tests/phpunit/tests/test-slugs.php
  tests/phpunit/tests/test-static-pages.php
  tests/phpunit/tests/test-strings.php
  tests/phpunit/tests/test-switcher.php
  tests/phpunit/tests/test-sync.php
  tests/phpunit/tests/test-terms-list.php
  tests/phpunit/tests/test-translated-post.php
  tests/phpunit/tests/test-translated-term.php
  tests/phpunit/tests/test-widgets-calendar.php
  tests/phpunit/tests/test-widgets-filter.php
  tests/phpunit/tests/test-wpml-config.php
  tests/phpunit/tests/test-wpml.php
  tests/phpunit/tests/themes/test-twenty-fourteen.php
  tests/phpunit/tests/themes/test-twenty-seventeen.php
Labels: phpunit tests

#586 Check if page_for_post is not false before assign it
  frontend/frontend-static-pages.php
  include/static-pages.php
  tests/phpunit/tests/test-translate-page-for-posts.php
Labels: bug

#600 Fix test_upload
  tests/phpunit/tests/test-media.php
Labels: WP 5.6, phpunit tests

#602 Fix breadcrumb for untranslatable post type
  integrations/wpseo/wpseo.php
Labels: Yoast seo

#599 Replace older-style PHP type conversion function with type cast
  include/widget-calendar.php
  tests/phpunit/tests/test-copied-functions.php
Labels: WP 5.6

#605 Refactor Canonical Redirect
  frontend/frontend-filters-links.php
Labels: enhancement

#597 Fix canonical redirect for taxonomy terms
  frontend/frontend-filters-links.php
  tests/phpunit/tests/test-canonical.php
Labels: bug, phpunit tests

#598 Open canonical test case for extension
  tests/phpunit/includes/testcase-canonical.php
  tests/phpunit/tests/test-canonical.php
Labels: phpunit tests

#607 Fix deprecated function usage in WP 5.6
  include/olt-manager.php
Labels: WP 5.6

#610 Fix the sticky posts cache never cleaned
  include/filters.php
Labels: bug
