Repository polylang/polylang, pull requests merged in 2021-09, with the labels that each got.

#908 Remove Yoast SEO backward compatibility code
  integrations/wpseo/wpseo.php
Labels: Yoast seo

#907 WPSEO: Use dynamic permalinks
  integrations/wpseo/wpseo.php
Labels: Yoast seo, validated

#911 Save the correct parent page id when changing the page language
  include/crud-posts.php
  tests/phpunit/tests/test-parent-page.php
Labels: bug, block editor, WP 5.6

#912 Test the correct post_parent value after changing the child post language
  tests/phpunit/tests/test-parent-page.php
Labels: bug, phpunit tests

#914 Update webpack stack
  package-lock.json
  package.json
Labels: dependencies, webpack
