Repository polylang/polylang, pull requests merged in 2022-01, with the labels that each got.

#949 PHP 8.1: Fix deprecated notices
  frontend/choose-lang-url.php
  include/class-polylang.php
  include/links-directory.php
  include/model.php
  integrations/wpseo/wpseo.php
  tests/phpunit/includes/testcase-trait.php
  tests/phpunit/tests/test-accept-languages-collection.php
  tests/phpunit/tests/test-admin-block-editor-test.php
  tests/phpunit/tests/test-admin-filters-post.php
  tests/phpunit/tests/test-media.php
  tests/phpunit/tests/test-settings.php
  tests/phpunit/tests/test-translated-post.php
  tests/phpunit/tests/test-translated-term.php
  tests/phpunit/tests/test-widgets-filter.php
  tests/phpunit/tests/themes/test-twenty-fourteen.php
Labels: enhancement

#959 Remove navigation role from nav element
  include/widget-languages.php
Labels: enhancement

#957 PHP 8.1 : Don't load remote featured patterns for tests
  tests/phpunit/includes/testcase-trait.php
Labels: phpunit tests

#960 Yoast SEO: Test the existence of current language before using it
  integrations/wpseo/wpseo.php
Labels: bug, Yoast seo

#962 PHP 8.1: Fix a deprecated notice in WP Importer integration
  integrations/wp-importer/wp-import.php
Labels: WP Importer

#964 Temporarily skip the Jetpack integration test
  tests/phpunit/tests/plugins/test-jetpack.php
Labels: phpunit tests

#965 Trick Jetpack to avoid a doing_it_wrong notice in test
  tests/phpunit/tests/plugins/test-jetpack.php
Labels: Jetpack, phpunit tests

#956 Add hook in PLL_Admin_Model to update translation group
  admin/admin-model.php
Labels: bug

#968 Prevent core, plugins and themes updates directly from the test case.
  tests/phpunit/includes/testcase-ajax.php
  tests/phpunit/tests/test-ajax-columns.php
  tests/phpunit/tests/test-ajax-filters-post.php
  tests/phpunit/tests/test-ajax-filters-term.php
  tests/phpunit/tests/test-ajax-on-front.php
Labels: phpunit tests

#948 Add hooks when defining the language in admin
  admin/admin-base.php
Labels: WP 5.9

#971 Fix PHPStan errors
  phpstan.neon.dist
  settings/settings-module.php
  settings/settings.php
Labels: phpstan, WP 5.9

#970 Change ajax-response id not to target default ajax-response HTML tag which is used by WordPress
  js/src/admin.js
  js/src/block-editor.js
  js/src/classic-editor.js
  js/src/term.js
Labels: bug, WP 5.9

#967 Remove customize admin bar and submenu when using a block theme
  admin/admin-base.php
  frontend/frontend.php
  include/base.php
  tests/phpunit/includes/testcase-trait.php
  tests/phpunit/tests/test-admin.php
  tests/phpunit/tests/test-frontend.php
Labels: validated, WP 5.9
