Repository polylang/polylang, pull requests merged in 2022-07, with the labels that each got.

#1065 Set current language just after saving a post type
  admin/admin-base.php
  phpstan-baseline.neon
  tests/phpunit/tests/test-admin-filters-post.php
  tests/phpunit/tests/test-admin-filters-term.php
Labels: bug

#1077 Remove ignored PHPStan errors after WP 6.0.1 doc improvement
  phpstan-baseline.neon
Labels: phpstan

#1076 Fix CPT and Custom taxonomy information
  modules/site-health/admin-site-health.php
Labels: Site Health

#1078 Fix ABSPATH in tests
  tests/bin/install-wp-tests.sh
Labels: phpunit tests, WP 6.1

#1074 Fix canonical redirect
  frontend/canonical.php
  frontend/frontend-filters-links.php
  frontend/frontend.php
  phpstan-baseline.neon
  tests/phpunit/includes/testcase-canonical.php
  tests/phpunit/tests/test-canonical-domain.php
  tests/phpunit/tests/test-canonical.php
  tests/phpunit/tests/test-links-domain.php
Labels: bug
