Repository polylang/polylang, pull requests merged in 2023-12, with the labels that each got.

#1396 Prevent an error if a tax query is filled with unexpected data
  frontend/frontend-auto-translate.php
Labels: bug

#1393 Remove flag alternative text if name is already rendered in the language switcher.
  frontend/frontend-nav-menu.php
  include/language.php
  include/switcher.php
  tests/phpunit/tests/test-nav-menus.php
  tests/phpunit/tests/test-switcher.php
Labels: accessibility

#1398 Standardize the way to test html with UTF8 characters in tests
  tests/phpunit/tests/test-admin-filters-post.php
  tests/phpunit/tests/test-admin-filters-term.php
  tests/phpunit/tests/test-default-term.php
  tests/phpunit/tests/test-settings.php
  tests/phpunit/tests/test-switcher.php
Labels: phpunit tests

#1399 Fix `wp_tag_cloud()` return type for PHPStan
  admin/admin-filters-term.php
  phpstan-baseline.neon
Labels: phpstan

#1389 Polylang PHPUnit Factories.
  tests/phpunit/includes/factory/factory-for-translated-object-trait.php
  tests/phpunit/includes/factory/unittest-factory-for-language.php
  tests/phpunit/includes/factory/unittest-factory-for-post.php
  tests/phpunit/includes/factory/unittest-factory-for-term.php
  tests/phpunit/includes/factory/unittest-factory.php
  tests/phpunit/includes/polyfill-testcase.php
  tests/phpunit/includes/testcase-trait.php
  tests/phpunit/includes/testcase.php
  tests/phpunit/tests/test-slugs.php
  tests/phpunit/tests/test-static-pages.php
Labels: phpunit tests
