Repository polylang/polylang, pull requests merged in 2023-10, with the labels that each got.

#1347 Fix undefined variables in tests
  tests/phpunit/tests/test-accept-languages-collection.php
  tests/phpunit/tests/test-admin-filters-post.php
  tests/phpunit/tests/test-admin-filters-term.php
  tests/phpunit/tests/test-admin-model.php
  tests/phpunit/tests/test-filters.php
  tests/phpunit/tests/test-switcher.php
  tests/phpunit/tests/test-sync.php
Labels: phpunit tests, coding standards

#1349 Remove unused variables in tests
  tests/phpunit/includes/testcase-trait.php
  tests/phpunit/tests/test-admin-filters-post.php
  tests/phpunit/tests/test-admin-filters-term.php
  tests/phpunit/tests/test-ajax-filters-term.php
  tests/phpunit/tests/test-canonical-domain.php
  tests/phpunit/tests/test-columns.php
  tests/phpunit/tests/test-create-delete-languages.php
  tests/phpunit/tests/test-email-strings.php
  tests/phpunit/tests/test-filters-links.php
  tests/phpunit/tests/test-filters.php
  tests/phpunit/tests/test-flags.php
  tests/phpunit/tests/test-license.php
  tests/phpunit/tests/test-links-multi-domains-to-one.php
  tests/phpunit/tests/test-nav-menus.php
  tests/phpunit/tests/test-parent-page.php
  tests/phpunit/tests/test-query.php
  tests/phpunit/tests/test-settings-cpt.php
  tests/phpunit/tests/test-settings.php
  tests/phpunit/tests/test-sitemaps.php
  tests/phpunit/tests/test-sync.php
  tests/phpunit/tests/test-wpml-config.php
Labels: phpunit tests, coding standards

#1368 Prevent a `open_basedir` error when fetching `wpml-config.xml` files
  modules/wpml/wpml-config.php
Labels: bug

#1370 Fix phpstan errors
  admin/admin-filters-columns.php
  admin/admin-filters-term.php
  frontend/frontend-links.php
  phpstan-baseline.neon
Labels: phpstan

#1369 Fix wrong type-hint for `PLL_WPML_Config::is_dir()`
  modules/wpml/wpml-config.php
Labels: phpstan

#1358 Test failing when the cache is deactivated
  tests/phpunit/tests/test-settings-cpt.php
Labels: phpunit tests

#1357 Default terms tests: don't add hooks in wpSetUpBeforeClass()
  tests/phpunit/tests/test-default-term.php
Labels: phpunit tests

#1344 Use dynamic filter for screen options
  phpstan-baseline.neon
  settings/settings.php
Labels: enhancement

#1371 Test rest routes for custom taxonomies
  tests/phpunit/includes/testcase-preload-paths.php
  tests/phpunit/tests/test-preload-paths.php
Labels: phpunit tests

#1372 Fix issues reported by PHPStan 1.10.39
  admin/admin-nav-menu.php
  include/license.php
  modules/sync/sync-metas.php
  phpstan-baseline.neon
Labels: phpstan

#1348 Better handling of wp_redirect() in test
  tests/phpunit/tests/test-admin-notices.php
Labels: phpunit tests

#1373 Test wpml config locations
  tests/phpunit/data/plugins/best-plugin/best-plugin.php
  tests/phpunit/data/plugins/best-plugin/wpml-config.xml
  tests/phpunit/data/themes/best-child/style.css
  tests/phpunit/data/themes/best-child/wpml-config.xml
  tests/phpunit/data/themes/best-theme/style.css
  tests/phpunit/data/themes/best-theme/wpml-config.xml
  tests/phpunit/tests/test-wpml-config-locations.php
Labels: phpunit tests

#1376 Sets rest_namespace to default wp/v2 if not set.
  include/filter-rest-routes.php
Labels: bug, block editor, validated

#1377 Add a test for filtered routes with a null rest_namespace.
  tests/phpunit/includes/testcase-preload-paths.php
  tests/phpunit/tests/test-preload-paths.php
Labels: phpunit tests

#1380 Improve PHPCS config
  include/links-domain.php
  phpcs.xml.dist
  tests/phpunit/includes/polyfills.php
  tests/phpunit/tests/test-admin-notices.php
  tests/phpunit/tests/test-customizer.php
  tests/phpunit/tests/test-filters.php
  tests/phpunit/tests/test-preload-paths.php
  tests/phpunit/tests/test-translate-option.php
  tests/phpunit/tests/test-widget-nav-menu.php
  tests/phpunit/tests/test-wpml-config-locations.php
  tests/phpunit/tests/test-wpml-config.php
Labels: coding standards
