Repository polylang/polylang, pull requests merged in 2023-11, with the labels that each got.

#1352 Do not reset filters and `PLL_Links_Model` when switching toward same blog as current one.
  include/base.php
  tests/phpunit/includes/testcase-multisites.php
  tests/phpunit/tests/test-switch-blog-query.php
  tests/phpunit/tests/test-switch-blog-rewrite-rules.php
Labels: bug

#1378 Force the current language in the switch_blog().
  frontend/frontend.php
  include/base.php
  tests/phpunit/includes/testcase-multisites.php
  tests/phpunit/tests/test-switch-blog.php
Labels: bug, multisite

#1360 Do not create posts in data providers
  tests/phpunit/includes/testcase-preload-paths.php
  tests/phpunit/tests/test-preload-paths.php
Labels: phpunit tests

#1382 Don't yield
  tests/phpunit/includes/testcase-preload-paths.php
Labels: phpunit tests

#1384 Make PHPCS and PHPStan ready to run on PHP 8.0
  phpstan-baseline.neon
  phpstan.neon.dist
Labels: coding standards, phpstan

#1383 Move `expect_wp_redirect()` in `PLL_UnitTestCase`.
  tests/phpunit/includes/exceptions.php
  tests/phpunit/includes/handle-wp-redirect-trait.php
  tests/phpunit/tests/test-admin-notices.php
Labels: phpunit tests
