Repository polylang/polylang, pull requests merged in 2023-08, with the labels that each got.

#1324 Mock language cache constants
  composer.json
  tests/phpunit/data/fr_FR.mo
  tests/phpunit/data/fr_FR.po
  tests/phpunit/includes/bootstrap.php
  tests/phpunit/includes/mocks-trait.php
  tests/phpunit/includes/testcase-domain.php
  tests/phpunit/tests/test-links-directory.php
  tests/phpunit/tests/test-links-multi-domains-to-one.php
Labels: phpunit tests

#1329 Fix all missing param comments
  admin/admin-base.php
  admin/admin-block-editor.php
  admin/admin-classic-editor.php
  admin/admin-default-term.php
  admin/admin-filters-columns.php
  admin/admin-filters-media.php
  admin/admin-filters-post-base.php
  admin/admin-filters-post.php
  admin/admin-filters-term.php
  admin/admin-filters.php
  admin/admin-nav-menu.php
  admin/admin-notices.php
  admin/admin-static-pages.php
  frontend/accept-languages-collection.php
  frontend/choose-lang.php
  frontend/frontend-auto-translate.php
  frontend/frontend-filters-links.php
  frontend/frontend-filters-search.php
  frontend/frontend-filters-widgets.php
  frontend/frontend-filters.php
  frontend/frontend-links.php
  frontend/frontend-nav-menu.php
  frontend/frontend-static-pages.php
  include/cache.php
  include/crud-posts.php
  include/crud-terms.php
  include/filters-links.php
  include/filters-widgets-options.php
  include/filters.php
  include/license.php
  include/links.php
  include/nav-menu.php
  include/query.php
  include/static-pages.php
  install/install-base.php
  integrations/duplicate-post/duplicate-post.php
  integrations/jetpack/jetpack.php
  integrations/wpseo/wpseo.php
  modules/site-health/admin-site-health.php
  modules/sync/admin-sync.php
  modules/sync/settings-sync.php
  modules/sync/sync-metas.php
  modules/sync/sync-post-metas.php
  modules/sync/sync-tax.php
  modules/sync/sync-term-metas.php
  modules/sync/sync.php
  phpcs.xml.dist
  phpstan-baseline.neon
  settings/settings-cpt.php
  settings/settings-module.php
  settings/settings-url.php
  settings/settings.php
  settings/table-string.php
Labels: doc, coding standards

#1334 Use correct type for wp_enqueue_script()
  admin/admin-base.php
  phpstan.neon.dist
Labels: phpstan
