Repository polylang/polylang, pull requests merged in 2024-12, with the labels that each got.

#1587 Introduces get_calendar() changes planned in WordPress 6.8
  include/widget-calendar.php
  tests/phpunit/tests/test-copied-functions.php
Labels: WP 6.8

#1588 When updating options in REST, return all values
  modules/REST/V1/Settings.php
  tests/phpunit/tests/test-rest-settings.php
Labels: enhancement, REST API

#1589 Don't allow setting `default_lang` value with non-existing language.
  include/Model/Languages.php
  include/Options/Business/Default_Lang.php
  tests/phpunit/tests/Options/Abstract_Option/test-GetSchema.php
  tests/phpunit/tests/Options/Options/test-Set.php
  tests/phpunit/tests/test-rest-request.php
  tests/phpunit/tests/test-rest-settings.php
Labels: bug, REST API, Options

#1586 Don't add translation entry when the translated string is empty
  include/mo.php
  tests/phpunit/tests/test-strings.php
Labels: bug

#1590 Remove `no_default_cat` property from schema in editable language requests.
  modules/REST/V1/Languages.php
  tests/phpunit/tests/test-rest-languages.php
Labels: bug, REST API

#1591 Make REST settings context agnostic.
  include/Options/Abstract_Option.php
  modules/REST/V1/Settings.php
  tests/phpunit/tests/test-rest-settings.php
Labels: bug, REST API

#1583 Hide the `hide_current` checkbox if `dropdown` is checked
  admin/admin-nav-menu.php
  js/src/nav-menu.js
Labels: bug

#1577 Reformat SQL queries for the WP Importer
  integrations/wp-importer/wp-import.php
  tests/phpunit/tests/plugins/test-wp-importer.php
Labels: enhancement, coding standards

#1576 Reformat SQL queries in `PLL_Translated_Object`
  include/translated-object.php
Labels: enhancement, coding standards

#1595 Fix sub-options not being updated
  admin/admin-nav-menu.php
  include/Model/Languages.php
  include/Options/Options.php
  include/nav-menu.php
  modules/wpml/wpml-config.php
  rector.php
  tests/phpunit/tests/Options/Options/test-OffsetSet.php
  tests/phpunit/tests/Options/Options/test-OffsetUnset.php
  tests/phpunit/tests/test-links-domain.php
Labels: bug, Options

#1596 Flush rewrite rules when specific options are updated in REST.
  modules/REST/V1/Settings.php
  tests/phpunit/tests/test-rest-settings.php
Labels: bug, REST API, Options

#1599 Update language slug in `domains` option
  include/Model/Languages.php
  include/Options/Business/Domains.php
  tests/phpunit/tests/Options/Options/test-Set.php
Labels: bug, Options

#1594 Update default language upon setting change in REST
  include/Model/Languages.php
  modules/REST/API.php
  modules/REST/V1/Languages.php
  modules/REST/V1/Settings.php
  tests/phpunit/tests/test-rest-settings.php
Labels: REST API

#1600 `nav_menus` and `domains` options: also update `0` IDs
  include/Model/Languages.php
Labels: bug, Options

#1598 Display a notice about emptied strings on 3.7 upgrade.
  admin/admin-notices.php
Labels: enhancement
