Repository polylang/polylang, pull requests merged in 2024-11, with the labels that each got.

#1570 Add cache to `PLL_MO` and string translations.
  include/api.php
  include/mo.php
  phpstan.neon.dist
  tests/phpunit/tests/test-mo.php
  tests/phpunit/tests/test-translate-option.php
Labels: enhancement, Performance

#1574 Use empty string instead of duplicate for non-translated strings.
  include/mo.php
  install/upgrade.php
  settings/table-string.php
  tests/phpunit/tests/test-upgrade.php
Labels: enhancement

#1569 Polylang's options in the REST API
  include/Options/Abstract_Option.php
  include/Options/Business/First_Activation.php
  include/Options/Business/Previous_Version.php
  include/Options/Business/Version.php
  include/Options/Options.php
  modules/REST/API.php
  modules/REST/Abstract_Controller.php
  modules/REST/V1/Languages.php
  modules/REST/V1/Settings.php
  tests/phpunit/tests/test-rest-settings.php
Labels: REST API, Options

#1575 Use the test block-theme instead of Twenty Twenty Two
  tests/phpunit/tests/test-admin.php
  tests/phpunit/tests/test-frontend.php
Labels: phpunit tests, WP 6.7

#1579 Code coverage of options
  tests/phpunit/tests/Options/Options/test-GetIterator.php
  tests/phpunit/tests/Options/Options/test-SaveAll.php
  tests/phpunit/tests/Options/Options/test-Set.php
Labels: phpunit tests

#1581 Improve and fix `install-plugins.sh`
  composer.json
  phpcs.xml.dist
  tests/bin/install-plugins.sh
  tests/bin/install-wp-tests.sh
  tests/phpunit/includes/bootstrap.php
  tests/phpunit/includes/testcase-trait.php
  tests/phpunit/tests/plugins/test-duplicate-post.php
  tests/phpunit/tests/plugins/test-jetpack.php
  tests/phpunit/tests/plugins/test-wp-importer.php
  tests/phpunit/tests/test-customizer.php
  tests/phpunit/tests/themes/test-twenty-fourteen.php
  tests/phpunit/tests/themes/test-twenty-seventeen.php
Labels: bug, enhancement, phpunit tests
