Repository polylang/polylang, pull requests merged in 2025-06, with the labels that each got.

#1678 Fix persisted options after `Options::reset()`.
  include/Options/Abstract_Option.php
  tests/phpunit/tests/Options/Options/test-Reset.php
Labels: bug, Options

#1677 Document options type in class properties
  admin/admin-notices.php
  frontend/canonical.php
  frontend/choose-lang.php
  frontend/frontend-static-pages.php
  include/base.php
  include/crud-posts.php
  include/crud-terms.php
  include/filters-links.php
  include/filters.php
  include/language-factory.php
  include/links-model.php
  include/links.php
  include/model.php
  include/nav-menu.php
  install/upgrade.php
  modules/sitemaps/sitemaps.php
  modules/sync/sync-post-metas.php
  modules/sync/sync-tax.php
  modules/sync/sync.php
  modules/wizard/wizard.php
  phpstan-baseline.neon
  phpstan.neon.dist
  settings/settings-browser.php
  settings/settings-module.php
  settings/settings.php
  tests/features/bootstrap/BrowserPreferredLanguageContext.php
Labels: enhancement, phpstan

#1684 Fix some regression in WPML API.
  modules/wpml/wpml-legacy-api.php
  tests/phpunit/tests/test-wpml.php
Labels: bug, WPML API

#1687 Document `Options::get_schema()`'s type
  include/Options/Abstract_Option.php
  include/Options/Options.php
Labels: doc, phpstan
