Repository polylang/polylang, pull requests merged in 2025-04, with the labels that each got.

#1647 Fix home link block not translated
  frontend/frontend-filters-links.php
Labels: bug, validated

#1651 Run PHPUnit in wp-env containers.
  .wp-env.json
  composer.json
  package.json
  tests/phpunit/includes/bootstrap.php
  tests/phpunit/includes/links-trait.php
  tests/phpunit/includes/wp-tests-config-docker.php
Labels: phpunit tests, tools

#1654 Adds a function to check if a file has been modified
  tests/phpunit/includes/check-wp-functions-trait.php
Labels: enhancement, phpunit tests

#1655 Fix some assignments in conditions
  admin/admin-base.php
  frontend/choose-lang.php
  frontend/frontend-auto-translate.php
  modules/sync/sync-post-metas.php
Labels: coding standards
